<h1>Create a contact</h1>

<h3>Enter information here:</h3>

<form action="/create" method="post">
<input type="text" name="firstname" size="30" maxlength="30" placeholder="First Name"><br>
<input type="text" name="lastname" size="30" maxlength="30" placeholder="Last Name"><br>
<input type="text" name="phone" size="30" maxlength="10" placeholder="Phone #"><br>
<input type = "submit">
</form>

<p><a href="/"><< Back to Contacts List</a></p>
